{% extends 'contacts/base.html' %}
{% block content %}
<h1>Liste des cours</h1>
<a href="{% url 'contacts:cours_add' %}" class="btn btn-success mb-3">+ Ajouter</a>
<table class="table table-striped table-hover shadow-sm">
  <thead class="table-dark">
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for cours in cours %}
    <tr>
      <td>{{ cours.titre }}</td>
      <td>{{ cours.description }}</td>
      <td>
        <a href="{% url 'contacts:cours_detail' cours.pk %}" class="btn btn-sm btn-info">Voir</a>
        <a href="{% url 'contacts:cours_update' cours.pk %}" class="btn btn-sm btn-warning">Modifier</a>
        <a href="{% url 'contacts:cours_delete' cours.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
